@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.forgot-password-wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}


/* Background covers the whole screen */

.background-color {
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: hidden;
}

.background-color div {
    position: absolute;
    border-radius: 3rem;
    animation: gradient 2s infinite;
}

@keyframes gradient {
    50% {
        transform: scale(1.5) translate(100px);
    }
}

.background-color div:nth-child(1) {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

.background-color div:nth-child(2) {
    height: 80%;
    width: 70%;
    background-color: #d3ddab;
    top: -10%;
    bottom: -10%;
    animation-delay: 2s;
}

.background-color div:nth-child(3) {
    height: 50%;
    width: 55%;
    background-color: #dc9b39;
    right: 10%;
    top: 10%;
    animation-delay: 1s;
}

.background-color div:nth-child(4) {
    height: 30%;
    width: 65%;
    background-color: #c13a1b;
    bottom: -10%;
    left: -5%;
}

.background-color div:nth-child(5) {
    height: 50%;
    width: 45%;
    bottom: 10%;
    right: 10%;
    background-color: #de7316;
}

.background-color::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    backdrop-filter: blur(200px);
}

@keyframes gradientAnimation {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.forgot-password-page {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.forgot-password-page h2 {
    text-align: center;
    color: #fff;
}

.forgot-password-page h3 {
    text-align: center;
    color: #fff;
}

.forgot-password-page .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    color: #fff;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
}

.forgot-password-page button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.forgot-password-page button:hover {
    background: black;
}

.forgot-password-page .input-box input[type="text"],
.forgot-password-page .input-box input[type="password"] {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.forgot-password-page input::placeholder {
    color: white;
    opacity: 0.7;
}